<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <title>CEIK HOLDER LIST</title>
  </head>
  <body>
  
  <div class="content">
    <div class="container">
      <h2 class="mb-5">CEIK HOLDER LIST</h2>
  
      <div class="table-responsive">
        <script>
          function jsfn_myaddress(){
            let maf = document.getElementById("mainfrom");
            let maa = document.getElementById("txt_address").value;
            if(maa==""||maa.length<20){
              alert("address fill first");
              return;
            }
            maf.action="/holdlist"
            maf.submit();
          }
        </script>
        <form id="mainfrom" name="mainfrom" method="post">
          <div style="color: #FFFFFF;">내홀드주소 : 
          <input type="text" name="txt_address" id="txt_address" maxlength="60" style="width:250px;" value="<%=addr%>">
          <!-- onkeyup="if(window.event.keyCode==13){jsfn_myaddress();}" -->
          <a href="javascript:jsfn_myaddress();" style="color: #FFFFFF;">검색</a>
        </div>
        </form>
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">address</th>
              <th scope="col">token</th>
              <th scope="col">cnt</th>
              <th scope="col">yyyymmdd</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
<% if (result.length>0){ 
  for(i=0;i<result.length;i++){
  %>
  <tr scope="row">
    <td><%=i+1%></td>
    <td><%=result[i].address%> </td>
    <td><%=result[i].token%></td>
    <td><%=result[i].cnt%></td>
    <td><%=result[i].yyyymmdd%></td>
    <td><a href="https://scope.klaytn.com/account/<%=result[i].address%>?tabId=tokenBalance" target="_blank" class="more">Details</a></td>
  </tr>
  
  <% 
  }
} else { %>
<tr scope="row">
  <td colspan="6"> no data </td>
</tr>

<% } %>
              
          </tbody>
        </table>
        <br/>
        <a href="/">main</a>
      </div>
    </div>
  </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
